
@{
    Layout = null;
}

<div class="row" ng-controller="NutritionFactsController" ng-init="LoadAllIngredients()"  >
    <div class="col-md-12">
        <h1>Retention Factor for Ingredients</h1>
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Item per page</label>
                <div class="col-md-2">
                    <input type="text" min="1" class="form-control input-sm" ng-model="itemsByPage" numbers-only style="width : 150px" />
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="overflow-x:scroll;">
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead style="background-color:#545c65 !important">
                    <tr style="color:white;">
                        <th st-sort="ingredient_name">Ingredient Name</th>
                        <th st-sort="preparation_type">Preparation Type</th>
                        <th st-sort="weight">Weight</th>
                        <th st-sort="{{col.nutrition_name}}" ng-repeat="col in collCollection">{{col.nutrition_name+' ('+col.unit+')'}}</th>
                    </tr>
                    <tr>
                        <th colspan="{{span}}"><input st-search="" class="form-control input-sm" placeholder="global search ..." type="text" style="width : 200px" /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.ingredient_name}}  </td>
                        <td>{{row.preparation_type}}  </td>
                        <td>{{row.weight+' ('+row.unit+')'}}  </td>
                        <td ng-repeat="col in collCollection">
                            {{row[col.nutrition_name]}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="{{span}}" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" st-template="~/Scripts/Areas/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>