
@{
    Layout = null;
}

@*<div class="jumbotron">
        <h1 style="text-align:center; color:white">Recipe Calculator</h1><br /><br />
        <p class="lead"></p>
        <p>  </p>
    </div>*@


<div id="mainbanner">
    <ul class="bxslider">
        <li>
            <img src="extraimages/recipebg.jpg" alt="" />
            <div class="kd-caption">
                <div class="container bo">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="linksection col-lg-3" style="padding:0 5px"> <a href="/#Calculator">Get started now</a></div>
                            <div class="linksectionblu col-lg-3" style="padding:0 5px"> <a href="/#Calculator">Get started now</a></div>
                            <div class="linksectionred col-lg-3" style="padding:0 5px"> <a href="/#Calculator">Get started now</a></div>
                            <div class="linksectiongr col-lg-3" style="padding:0 5px"> <a href="/#Calculator">Get started now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div id="footer-widget">
    @*  id="footer-widget" *@
    <div class="container">
        <div class="row">
            <div class="widget col-md-4 kd-textwidget">
                <div class="kd-widget-title">
                    <h2>About us</h2>
                </div>
                <div class="kd-contactinfo">
                    <p>One image life to and land, herb waters divided. Waters every let two, shall have divided face first us there spirit living beast the. Moving darkness deep morning unto them morning third you're behold.</p>
                    @*<ul>
                        <li><i class="fa fa-map-marker"></i> 360, Galaxy ApartmentNear Rekon Estate, limbasa margnexton lita, Australia</li>
                        <li><i class="fa fa-phone"></i> 1 808 603 6035</li>
                        <li><i class="fa fa-envelope-o"></i> <a href="#">info@kodeforest.com</a></li>
                    </ul>*@
                </div>
            </div>
            <div class="widget col-md-4 kd-followus-widget">
                <div class="kd-widget-title">
                    <h2>Follow Us</h2>
                </div>
                <ul>
                    <li><a href="#/Index" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#/Index" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#/Index" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#/Index" data-original-title="instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#/Index" data-original-title="Rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#/Index" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#/Index" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#/Index" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#/Index" data-original-title="Google-Plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#/Index" data-original-title="skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
            <div class="widget col-md-4 kd-userinfo-widget">
                <div class="kd-widget-title">
                    <h2>Contact</h2>
                </div>
                <ul>
                    <li><i class="fa fa-map-marker"></i> 15489, Dhaka, Bangladesh</li>
                    <li><i class="fa fa-phone-square"></i> +1 808 603 6035, +1 808 603 6035</li>
                    <li><i class="fa fa-envelope"></i>info@domain.com</li>
                    <li><i class="fa fa-skype"></i> <a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>







    @*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@