
@{
    Layout = null;
}

<div class="row" ng-controller="NutritionController">
    <div class="col-md-12">
        <div class="col-md-6">
            
                <h1>Edit Nutrient</h1>
                @*<hr />*@
                <br />
                <form class="form-horizontal" ng-submit="" name="EditNutritionForm" ng-init="LoadNutritionById()">
                    @*<fieldset>
                        <legend>Edit Nutrient</legend>*@
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="Name">Nutrient Name</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" data-ng-model="editNutrition.nutrition_name" name="nutrition_name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="Name">Unit</label>
                            </div>
                            <div class="col-md-6">
                                @*<input type="text" class="form-control input-sm" data-ng-model="editNutrition.unit" name="unit" required />*@
                                <select data-ng-model="editNutrition.unit" class="dropdown form-control input-sm"
                                        ng-options="unit.unit_name as unit.unit_name for unit in UnitList" required>
                                    <option value="">---------------Select---------------</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="Name">Tag Name</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" data-ng-model="editNutrition.tag_name" name="tag_name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9 text-center">
                                <input type="submit" class="btn btn-default" value="Update" data-ng-click="UpdateNutrition()" />
                                <input type="button" class="btn btn-default" value="Reset" data-ng-click="ResetNutrition()" />
                                <a href="/#Nutritions" class="btn btn-default">List</a>
                            </div>
                        </div>
                    @*</fieldset>*@
</form>
            
</div>
    </div>
</div>